---
interface Props {
  name: string;
  image?: string | null;
  linkTail?: string | null;
}

const { name, image } = Astro.props;
import gear from "../assets/gear.svg";
---

<div class="flex items-center justify-between py-6 mb-8">
  <div class="flex items-center gap-4 w-full">
    <div
      class="h-20 w-20 shrink-0 relative border-2 border-white/20 rounded-full overflow-hidden"
    >
      {
        image ? (
          <>
            <img
              src={image}
              alt={name}
              onerror="this.style.display='none'"
              class="h-full w-full rounded-full border border-white/20 object-cover absolute inset-0 z-10"
            />
            <div class="h-full w-full rounded-full bg-zinc-800 flex items-center justify-center border border-white/20">
              <span class="text-xl font-bold">
                {name.charAt(0).toUpperCase()}
              </span>
            </div>
          </>
        ) : (
          <div class="h-full w-full rounded-full bg-zinc-800 flex items-center justify-center border border-white/20">
            <span class="text-xl font-bold">{name.charAt(0)}</span>
          </div>
        )
      }
    </div>
    <div class="flex flex-col gap-2 w-full">
      <h2 class="text-2xl font-bold text-[#E9E9E9]">{name}</h2>
      <div class="flex items-center justify-between w-full gap-4">
        <div class="flex items-center gap-2">
          <a href="/settings" title="Settings">
            <button
              class="bg-[#D9D9D9]/22 hover:bg-white/10 rounded-full gap-1.5 w-fit px-3 py-1 flex justify-center items-center font-[Rubik] transition-colors shadow-[0px_2px_29.1px_rgba(0,0,0,0.5),inset_0px_-2px_3px_rgba(0,0,0,0.25),inset_0px_1px_1px_rgba(255,255,255,0.2)] text-shadow-[0_1px_1px_rgba(0,0,0,0.2)]"
            >
              <img
                src={gear.src}
                alt="Settings Icon"
                class="h-5 aspect-square"
              />
              <span>SETTINGS</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
